{% extends 'base.html.twig' %}

{% block body %}
    <style>
        form {
            text-align: center;
        }

        form div {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        label {
            margin-top: 20px;
            margin-bottom: 10px;
        }

        input {
            width: 20%;
            height: 30px;
            margin: 0 auto;
            border: 1px solid #cc0000;
        }

        button {
            display: block;
            width: 10%;
            height: 30px;
            margin: 0 auto;
            margin-top: 20px;
            background: transparent;
            border: 1px solid #cc0000;
            color: #cc0000;
            cursor: pointer;
        }

        button:hover {
            background: #cc0000;
            color: #ffffff;
        }

        h2 {
            text-align: center;
        }

    </style>

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

    <h2>Connexion</h2>
<form action="{{ path('login') }}" method="post">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="_password" />
    </div>

    <input type="hidden" name="_target_path" value="{{ path('blog') }}" />

    <button type="submit">login</button>
</form>
{% endblock %}