{% extends 'base.html.twig' %}

{% block body %}
    <div class="manga-list">
        <h2>Liste de mangas</h2>
        <div class="mangas">
            {% for manga in mangas %}
                <a class="manga" href="/manga/{{ manga.id }}">
                    <div>
                        <h4>{{ manga.title }}</h4>
                        <img src={{ vich_uploader_asset(manga, 'imageFile') }} >
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}