{% extends 'base.html.twig' %}

{% block body %}
    <div class="manga-list">
        <h2>Liste des utilisateurs</h2>
        <div class="mangas">
            {% for copy in mangaCopies %}
                <a class="manga" href="/borrow/{{ copy.manga.id }}/{{ copy.user.id }}">
                    <div>
                        <h4>{{ copy.user.username }}</h4>
                        <h4>{{ copy.user.email }}</h4>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}