<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <header>
        <h1>CACA</h1>
    </header>
    <body>
    {% block content %}{% endblock %}

    {% block tata %}{% endblock %}

    </body>
<footer>
    <h2>Prout</h2>
</footer>
</html>
