<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Connection</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{{ form_start(form) }}
{{ form_row(form) }}
{{ form_rest(form) }}
</body>
</html>