{% extends 'base.html.twig' %}

{% block body %}
    <div class="home-content">
        <div class="info-profil">
            <h2>Informations</h2>
            <ul>
                <li>Nom :</li>
                <li>Prénom :</li>
                <li>Adresse mail :</li>
                <li>Prénom :</li>
                <li>Prénom :</li>
                <li>Prénom :</li>
            </ul>
        </div>
        <div class="calendar-profil">
            <h2>Calendrier des prêts</h2>
            <div class="calendar">
                <table
            </div>
        </div>
    </div>
{% endblock %}